<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>Login</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>


  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">


  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="/assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<!--
<div class="am-alert am-alert-warning" data-am-alert>
  <button type="button" class="am-close">&times;</button>
  <div class="warning-login">账号或密码错误！</div>
</div>
-->

<!--在这里编写你的代码-->
<div class="tpl-login">

  <div class="tpl-login-content">
    <div class="tpl-login-img">
    <img src="/images/index.png"  />
    </div>
    <form action="/users/Login" method="post" class="am-form tpl-form-line-form">
      <div class="am-form-group">
        <label for="name">账号</label>
        <input type="text" class="tpl-form-input" name="name" id="name" placeholder="请输入账号">
      </div>
      <div class="am-form-group">
        <label for="password">密码</label>
        <input type="password" class="tpl-form-input" name="password" id="password" placeholder="请输入密码">
      </div>
      <div class="am-form-group">
        <button id="tiger-submit" type="submit" class="am-btn am-btn-default am-btn-block">提交</button>
      </div>
    </form>
  </div>

</div>

<script src="/assets/js/jquery-3.4.0.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script>
  $(function() {

  });
</script>
</body>
</html>