body {
  background-color: #e7eaed;
}

.tpl-login-content {
  width: 300px;
  margin: 15% auto 0;

}

.am-form-group{
  color: #cccccc;
}



.tpl-login-img{
  width: 300px;
text-align: center;
}

.warning-login{
  text-align: center;
}